*

!entrypoint.sh

!/api/src
!/api/package.json
!/api/package-lock.json

!/cli/src
!/cli/package.json
!/cli/package-lock.json

!/common/src
!/common/package.json
!/common/package-lock.json

!/core/src
!/core/package.json
!/core/package-lock.json
